/*.container {
	display: grid;
	grid-template-columns:repeat(5, 1fr);
	background-color: lemonChiffon;*/
}

.box {
	border: 1px solid black;
	padding: 16px;
}

body {
  background: lemonChiffon;
  background-image:
    radial-gradient(salmon 20%, transparent 0), 
    radial-gradient(salmon 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}